<%- include('layout/layoutStart.ejs') %>
<main class="p-0">
    <div class="main-container">
        <div class="d-flex">
            <h1>Blocks</h1>
            <div class="ml-4">
                <a href="/blocks/create"><button class="add-new">+ add new</button></a>
            </div>
        </div>
        <% if (query.message==="deleted") { %>
            <div class="alert alert-success mt-4">Block was deleted!</div>
        <% } %>
        <table class="collection">
            <tr class="py-2">
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        <% for(var i=0; i<blocks.length; i++) {%>
            <tr>
                <td>
                    <a href="/blocks/edit/<%= blocks[i].id %>"><%= blocks[i].title %></a>
                </td>
                <td><%= blocks[i].created !== null ? formatDate(blocks[i].created) : ''  %></td>
                <td><%= blocks[i].updated !== null ? formatDate(blocks[i].updated) : ''  %></td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a class="pr-1" href="/blocks/edit/<%= blocks[i].id %>"><button><img src="/images/icons/edit.png" alt="edit"></button></a>
                        <form action="/blocks/<%= blocks[i].id %>" method="POST" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit"><img src="/images/icons/delete_red.png" alt="delete"></button>
                        </form>
                    </div>
                </td>
            </tr>
        <% } %>    
        </table>
    </div>
</main>
<%- include('layout/layoutEnd.ejs') %>