<%- include('layout/layoutStart.ejs') %>
<%- include('layout/sidebar.ejs') %>
<main>
    <h1>Content</h1>
    <a href="/content/create"><button>add new</button></a>
    <% if (query.message==="deleted") { %>
        <div class="alert alert-success mt-4">Content was deleted!</div>
    <% } %>
    <% for(var i=0; i<content.length; i++) {%>
        <div class="content" style="display: flex">
            <div class="title">
                <%= content[i].title %>
            </div>
            <form action="/content/<%= content[i].id %>" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">delete</button>
            </form>
            <a href="/content/edit/<%= content[i].id %>"><button>edit</button></a>

        </div>
     <% } %>
</main>
<%- include('layout/layoutEnd.ejs') %>