<%- include('layout/layoutStart.ejs') %>
    <h1>Create New Content</h1>
    <form action="/content" method="POST" id="contentForm">
        <div>
            <label for="title">Title</label>
            <input name="title" id="title" type="text" value="<%= data?.title?.trim() || '' %>">
            <div class="message" id="message-title">"title" is required</div>
        </div>
        <div>
            <label for="status">Status</label>
            <select name="status" id="status">
                <option <%=data?.status===0 ? 'selected' : '' %> value="0">Draft</option>
                <option <%=data?.status===1 ? 'selected' : '' %> value="1">Published</option>
            </select>
        </div>
        <input type="submit" value="save">
    </form>
    <div class="alert alert-success mt-3" id="message-saved">Content saved!</div>

    <div class="addBlockContainer mt-5">
        <button class="addBlockButton">add Block</button>
        <div class="addBlockDropdown">
            <% if (!blocks || blocks.length===0) { %>
                No blocks found
                <% } else { %>
                    <ul>
                        <% blocks.forEach(block=> { %>
                            <li class="block" data-id="<%= block.id %>">
                                <%= block.title %>
                            </li>
                            <% }); %>
                    </ul>
                    <% } %>
        </div>
    </div>

    <div id="blocks"></div>

    <div id="blockFormWrapper">
        <div id="blockFormContainer">
            <h3 id="blockFormTitle"></h3>
            <form id="blockForm">
                <div id="blockFormInput"></div>
                <button type="submit">save block</button>
            </form>
        </div>
    </div>

    <script src="/script/editContent.js"></script>

    <%- include('layout/layoutEnd.ejs') %>