<%- include('layout/layoutStart.ejs') %>
<%- include('layout/sidebar.ejs') %>
<main>
    <h1>Edit Block</h1>
    <form action="/blocks" method="POST" id="createBlock">
        <div>
            <label for="title">Title</label>
            <input name="title" id="title" type="text" value="<%= data?.title?.trim() || '' %>">
            <div id="message-title"></div>
        </div>
        <div>
            <label for="key">Key</label>
            <input type="text" name="key" id="key" value="<%= data?.key?.trim() || '' %>">
            <div id="message-key"></div>
        </div>
        <div>
            <label class="d-block">Input Fields</label>
            <button id="addInput" type="button">Add input field</button>
        </div>
        <input type="submit" value="save">
    </form>



    <div id="message-success">
        <div class="alert alert-success">Block saved!</div>
    </div>

    <div id="inputFields"></div>

    <div id="inputPopupWrapper">
        <div id="inputPopup">
            <form id="addInputForm">
                <div class="inputSetting visible">
                    <label for="type">Type</label>
                    <select name="type" id="type">
                        <option value="shortText">Short Text</option>
                        <option value="longText">Long Text</option>
                    </select>
                    <div id="message-type"></div>
                </div>
                <div class="inputSetting visible">
                    <label for="name">Name</label>
                    <input type="text" id="name" title="name" name="name">
                    <div id="message-name"></div>
                </div>
                <div class="inputSetting visible">
                    <label for="label">Label</label>
                    <input type="text" id="label" title="label" name="label">
                    <div id="message-label"></div>
                </div>
                <div class="inputSetting visible">
                    <label for="maxLength">maxLength</label>
                    <input type="text" id="maxLength" title="maxLength" name="maxLength">
                    <div id="message-maxLength"></div>
                </div>
                <button id="submitInput">save input</button>
            </form>
        </div>
    </div>
</main>
<script src="/script/dist/editBlock.bundle.js" defer></script>
<%- include('layout/layoutEnd.ejs') %>