<%- include('layout/layoutStart.ejs') %>
<main class="p-0">
    <div class="main-container">
        <div class="breadcrumb-title">
            <a href="/settings">Users</a> > <a href="/settings/origins">Allowed Request Origins</a> > <strong>Edit Origin</strong>
        </div>
        <div class="edit-container">
            <% if(query.message==="saved" ){ %>
                <div class="alert alert-success message-saved my-4">
                    User was successfully saved
                </div>
            <% } %>
            <form action="<%= editingExisting ? `/settings/origins/${data.id}` : '/settings/origins' %>" method="POST" novalidate>
                <% if(editingExisting){ %>
                    <input type="hidden" name="_method" value="PUT">
                <% } %>
                <div>
                    <input name="name" id="name" type="text" placeholder="Origin Name" value="<%= data?.name?.trim() || '' %>">
                    <% if ('name' in messages) { %>
                        <div class="error-message visible">
                            <%= messages.name %>
                        </div>
                    <% } %>
                </div>
                <div class="mt-5 input-container">
                    <label for="api-key">API-Key</label>
                    <div class="d-flex align-items-end">
                        <input placeholder="Please generate API-Key" name="APIKey" id="api-key" type="text" value="<%= data?.APIKey?.trim() || '' %>" readonly>
                        <button id="generate-key" type="button" class="d-flex align-items-center py-2 ml-3">
                            <img width="25px" class="mr-2" src="/images/icons/generate.png" alt="">
                            Generate
                        </button>
                    </div>
                </div>
                <% if ('APIKey' in messages) { %>
                    <div class="error-message visible">
                        <%= messages.APIKey %>
                    </div>
                <% } %>
                <input class="mt-5" id="save" type="submit" value="save">
            </form>
        </div>
    </div>
</main>

<%- include('layout/layoutEnd.ejs') %>