<%- include('layout/layoutStart.ejs') %>
<h1>Edit User</h1>
<% if(query.message==="saved"){ %>
    <div class="alert alert-success my-4">
        User was successfully saved
    </div>
<% } %>
<form action="/users/save/<%= data.id %>" method="POST" novalidate>
    <input type="hidden" name="_method" value="PUT">
    <div>
        <label for="name">Name</label>
        <input name="name" id="name" type="text" value="<%= data.name %>">
    </div>
    <div>
        <label for="email">E-Mail</lbel>
        <input name="email" id="email" type="email" value="<%= data.email %>">
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" id="password" type="password" value="<%= data.password %>">
    </div>
    <div>
        <label for="role">Role</label>
        <select name="role" id="role" value="<%= data.role %>">
            <option <%= (data.role===0) ? 'selected' : '' %> value="0">Administrator</option>
            <option <%= (data.role===1) ? 'selected' : '' %> value="1">Author</option>
        </select>
    </div>
    <input type="submit" value="save">
</form>
<%- include('layout/layoutEnd.ejs') %>