<%- include('layout/layoutStart.ejs') %>
<main id="edit-content" class="p-0">
        <div class="d-md-flex">
            <div class="main-container">
                <div class="breadcrumb-title">
                    <a href="/content">Content</a> > <strong>Edit Page</strong>
                </div>
                <div class="edit-container">
                        <div>
                            <input name="title" id="title" type="text" placeholder="Content Title" value="<%= data?.title?.trim() || '' %>">
                            <div class="error-message" id="message-title"></div>
                        </div>
            
                    <div class="add-block-container">
                        <button type="button" class="add-block-button">+ add Block</button>
                        <div class="add-block-dropdown">
                            <button class="dropdown-close">
                                <img src="/images/icons/close.png" alt="close">
                            </button>
                            <h3>Add Block</h3>
                            <% if (!blocks || blocks.length===0) { %>
                                No blocks found
                                <% } else { %>
                                    <ul>
                                        <% blocks.forEach(block=> { %>
                                            <li class="block" data-id="<%= block.id %>">
                                                <%= block.title %>
                                            </li>
                                            <% }); %>
                                    </ul>
                                    <% } %>
                        </div>
                        <div class="block-form-container">
                            <button class="block-form-close">
                                <img src="/images/icons/close.png" alt="close">
                            </button>
                            <h3 class="block-form-title"></h3>
                            <form id="blockForm">
                                <div class="block-form-input"></div>
                                <button type="submit">save</button>
                            </form>
                        </div>
                    </div>
            
                    <div id="blocks"></div>
                    <div class="add-block-container end">
                        <button type="button" class="add-block-button">+ add Block</button>
                        <div class="add-block-dropdown">
                            <button class="dropdown-close">
                                <img src="/images/icons/close.png" alt="close">
                            </button>
                            <h3>Add Block</h3>
                            <% if (!blocks || blocks.length===0) { %>
                                No blocks found
                                <% } else { %>
                                    <ul>
                                        <% blocks.forEach(block=> { %>
                                            <li class="block" data-id="<%= block.id %>">
                                                <%= block.title %>
                                            </li>
                                            <% }); %>
                                    </ul>
                                    <% } %>
                        </div>
                        <div class="block-form-container">
                            <button class="block-form-close">
                                <img src="/images/icons/close.png" alt="close">
                            </button>
                            <h3 class="block-form-title"></h3>
                            <form id="blockFormEnd">
                                <div class="block-form-input"></div>
                                <button type="submit">save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <aside id="edit-sidebar" class="p-4">
                <div class="sidebar-container">
                    <form action="/content" method="POST" id="contentForm">
                        <input id="save" type="submit" value="save">
                        <div class="alert alert-success mt-3" id="message-saved">Content saved!</div>
                        <div class="mt-4">
                            <strong class="mb-3">Created</strong>
                            <div><%= data.created !== null ? formatDate(data.created) : formatDate(Date.now()) %></div>
                        </div>
                        <% if(data.updated){ %>
                            <div class="mt-4">
                                <strong class="mb-3">Last updated</strong>
                                <div><%= formatDate(data.updated) %></div>
                            </div>
                        <% } %>
                        <div class="mt-4">
                            <label for="status">Status</label>
                            <select name="status" id="status">
                                <option <%=data?.status===0 ? 'selected' : '' %> value="0">Draft</option>
                                <option <%=data?.status===1 ? 'selected' : '' %> value="1">Published</option>
                            </select>
                        </div>
                        <div class="mt-4">
                            <label for="url">URL</label>
                            <input type="text" name="url" id="url" value="<%= data?.url?.trim() %>">
                            <div class="error-message alert alert-danger mt-3" id="message-url"></div>
                        </div>
                    </form>
                </div>
            </aside>
        </div>

    <!-- <div id="blockFormWrapper">
        <div id="blockFormContainer">
            <h3 id="blockFormTitle"></h3>
            <form id="blockForm">
                <div id="blockFormInput"></div>
                <button type="submit" id="saveBlock">save block</button>
            </form>
        </div>
    </div> -->

</main>
<script src="/script/dist/editContent.bundle.js"></script>

<%- include('layout/layoutEnd.ejs') %>